* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  color: #444444;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-nav {
  background-color: #fff;
  width: 100%;
  z-index: 10;
  height: 5em;
  text-align: center;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
  top: 11px;
}

#nav li a {
  display: block;
  text-decoration: none;
  line-height: 24px;
  font-size: 14px;
  padding: 1.2em;
}

#nav > li > a {
  color: #444444;
  text-transform: uppercase;
}

.content {
  background-color: #f7f7f7;
  padding: 60px 5px;
}

.content-section {
  display: block;
  text-align: center;
  padding: 60px 0;
}

.tittle-section p {
  font-weight: bold;
}

.title-section > p:nth-of-type(1) {
  font-size: 1.25em;
  line-height: 1;
  padding: 10px 0;
}

.title-section p:nth-of-type(2) {
  font-size: 1.8em;
  color: #444444;
  padding-bottom: 2em;
}

.content-area {
  width: 1200px;
  margin: 0 auto;
}

.content-box {
  width: 100%;
  padding: 25px;
  border: 4px solid #eeeeee;
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
}

.content-box:before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  width: calc(100% + 8px);
  height: 4px;
  background-color: #30bedb;
}

.title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.2;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.7em;
  border-bottom: 2px solid #eeeeee;
}

.title-area h3 {
  font-size: 1.8em;
  color: #444444;
}

.title-area > h3 > span {
  width: 1.5em;
  line-height: 1.5em;
  background-color: #30bedb;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 50% 50% 50% 50%;
}

.title-area > p {
  font-size: 0.8em;
  color: #444444;
}

.type-list {
  padding: 25px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.type-list-des {
  width: 550px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.house-type {
  border-radius: 12px;
}

.house-type::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);
}

.type-list-des > i {
  position: absolute;
  left: 10%;
  top: 45%;
}

.list-bg {
  position: absolute;
  background: no-repeat center center / cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: red;
}

.list-title {
  position: absolute;
  left: 10%;
  top: 45%;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.4;
  color: #fff;
  text-align: left;
}

.list-price {
  position: absolute;
  right: 5%;
  top: 45%;
  z-index: 1;
  font-size: 1.8em;
  color: white;
}

.list-price::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 136px;
  height: 32px;
  z-index: -1;
}

.location-des-center > p {
  -webkit-transform: translateY(55%);
          transform: translateY(55%);
}

.location-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location-des {
  border: 1px solid #bbbbbb;
  height: 95px;
  width: 340px;
  margin: 1em;
  background-color: #fff;
}

.station-des > p,
.location-des > p {
  float: left;
  position: relative;
  left: 3em;
  top: 1.5em;
}

.location-list {
  width: 1150px;
}

.location-des .inside {
  text-align: start;
  padding: 24px 0px 0px 50px;
}

.station-des {
  height: 160px;
  width: 275px;
  border: 1px solid #bbbbbb;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #fff;
}

.station-des:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);
}

.station-des-icon {
  position: absolute;
  top: 40%;
  left: 10%;
}

.station-des-icon > .station-icon {
  width: 30px;
  height: 30px;
  background: url("/asset/img/icon/circle-right.png") top center/cover no-repeat;
}

.station-des > p {
  position: relative;
  padding-left: 10px;
  top: 25%;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.4;
  color: #fff;
  text-align: left;
}

.station-des > p > span {
  font-size: 1.6em;
}

.map-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house-list-show {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a b c" "d e f f" "g g h i";
  -ms-grid-rows: 300px 300px 300px;
      grid-template-rows: 300px 300px 300px;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  width: 1200px;
  grid-column-gap: 1.2em;
  grid-row-gap: 1em;
}

.house-1, .house-2, .house-3 {
  text-align: left;
}

.house-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.item-img {
  line-height: 0;
  height: 260px;
  background: no-repeat center / cover;
}

.item-text {
  border: 1px solid #eeeeee;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-text .title {
  line-height: 1.4;
  margin-bottom: 10px;
  color: #30bedb;
  font-size: 18px;
  font-size: 1.2857142857rem;
  font-weight: bold;
}

.item-text .text {
  font-size: 1rem;
}

.house-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.house-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: c;
}

.house-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.house-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.house-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: f;
}

.house-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: g;
}

.house-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: h;
}

.house-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: i;
}
/*# sourceMappingURL=main.css.map */